body {
  font-family: "Poppins", sans-serif;
}

.textColor {
  color: white;
}

.navbarBgDark {
  background-image: url("../../Media/mech.jpg");
}

.navbar-nav .nav-link.active {
  color: #eda72f;
}

.nav-link:hover {
  color: #eda72f;
}

.nav-link {
  color: #fff;
}

.getBtn {
  color: #fff;
}

.sideLine {
  border-right: 1px solid #2f69dd;
}

.iconHeight {
  height: 24px;
  width: 24px;
}
.svg_top svg {
  font-size: 2rem;
  transition: 0.2s;
  cursor: pointer;
  color: white;
}
.svg_top svg:hover {
  transform: scale(1.2);
}
.phone_icon svg {
  font-size: 2.2rem;
}
.container-fluid {
  background-image: url("../../Media/mech.jpg");
}
.buttonmenu {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .sideLine {
    border-right: none;
  }

  .iconHeight {
    height: 46px;
    width: 46px;
  }
}
